In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_df= pd.read_csv('lending_data.csv')

# Review the DataFrame
lending_df.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
labels = lending_df['loan_status']

# Separate the X variable, the features
features = lending_df.drop(columns = 'loan_status')

In [4]:
# Review the y variable Series
labels.iloc[0:10]

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
features.head(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
5,10100.0,7.438,50600,0.407115,4,1,20600
6,10300.0,7.490,51100,0.412916,4,1,21100
7,8800.0,6.857,45100,0.334812,3,0,15100
8,9300.0,7.096,47400,0.367089,3,0,17400
9,9700.0,7.248,48800,0.385246,4,0,18800

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
labels.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train,X_test,y_train,y_test = train_test_split(features, labels, test_size=.3, random_state = 1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
log_reg = LogisticRegression(random_state = 1)

# Fit the model using training data
log_reg = log_reg.fit(X_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
pred =log_reg.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [10]:
# Print the balanced_accuracy score of the model
balanced_accuracy_score(y_test, pred)

0.950507049515396

In [11]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

tn,fp,fn,tp =confusion_matrix(y_test, pred).ravel()
print(tn)
print(fp)
print(fn)
print(tp)

22399
116
70
676

In [12]:
# Print the classification report for the model

classification_report(y_test, pred).split("\n")

['              precision    recall  f1-score   support',
 '',
 '           0       1.00      0.99      1.00     22515',
 '           1       0.85      0.91      0.88       746',
 '',
 '    accuracy                           0.99     23261',
 '   macro avg       0.93      0.95      0.94     23261',
 'weighted avg       0.99      0.99      0.99     23261',
 '']

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:**

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [25]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
rs = RandomOverSampler(random_state = 1)

# Fit the original training data to the random_oversampler model
X_res,y_res = rs.fit_resample(X_train, y_train)

In [26]:
# Count the distinct values of the resampled labels data
print(X_res,y_res)

        loan_size  interest_rate  borrower_income  debt_to_income  \
0          7600.0          6.346            40300        0.255583
1         10300.0          7.507            51200        0.414062
2          9600.0          7.217            48500        0.381443
3         10200.0          7.445            50700        0.408284
4          9100.0          6.983            46300        0.352052
...           ...            ...              ...             ...
105037    19600.0         11.469            88500        0.661017
105038    18400.0         10.940            83600        0.641148
105039    18900.0         11.172            85700        0.649942
105040    17800.0         10.704            81300        0.630996
105041    17700.0         10.631            80600        0.627792

        num_of_accounts  derogatory_marks  total_debt
0                     2                 0       10300
1                     4                 1       21200
2                     4                 0       18500
3                     4                 1       20700
4                     3                 0       16300
...                 ...               ...         ...
105037               13                 2       58500
105038               12                 2       53600
105039               12                 2       55700
105040               11                 2       51300
105041               11                 2       50600

[105042 rows x 7 columns] 0         0
1         0
2         0
3         0
4         0
         ..
105037    1
105038    1
105039    1
105040    1
105041    1
Name: loan_status, Length: 105042, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [30]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logreg =LogisticRegression(random_state = 1)

# Fit the model using the resampled training data
logreg = logreg.fit(X_res,y_res)

# Make a prediction using the testing data
pred = logreg.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [31]:
# Print the balanced_accuracy score of the model 
balanced_accuracy_score(y_test, pred)

0.9943654483546567

In [32]:
# Generate a confusion matrix for the model
tn,fp,fn,tp =confusion_matrix(y_test, pred).ravel()
print(tn)
print(fp)
print(fn)
print(tp)

22382
133
4
742

In [33]:
# Print the classification report for the model
classification_report(y_test, pred).split("\n")

['              precision    recall  f1-score   support',
 '',
 '           0       1.00      0.99      1.00     22515',
 '           1       0.85      0.99      0.92       746',
 '',
 '    accuracy                           0.99     23261',
 '   macro avg       0.92      0.99      0.96     23261',
 'weighted avg       0.99      0.99      0.99     23261',
 '']

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** using the oversampled data help us get more of a positive predection compared to the logisit regression model.